* {
    border: none;
    margin: 0px;
}

.task {
    margin: 4px;
    border: 2px;
    border-color: #000000;
}

.title {
    font-size: large;
    color: #ffffff;
    background-color: #004080;
    padding: 5px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
}

.remind {
    color: #c00000;
    background-color: #fefee8;
    padding: 5px;
    font-weight: bold;
}

.progress {
    font-size: small;
}
.subject {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 4px;
}

.work {
    font-size: normal;
    font-weight: bold;
}

.over {
    color: #c02020;
    font-weight: bold;
}

.prg {
    display: flex;
    flex-wrap: nowrap;
    padding: 4px;
}

.pages {
    padding: 6px;
    width: 3em;
    text-align: right;
}

.graph {
    padding: 6px;
}

.invisible {
    display: none;
}

table {
    width: 100%;
}

table tr:nth-child(odd) {
    background-color: #d0d0d0;
}
table tr:nth-child(even) {
    border-bottom: solid 2px #c0c000;
}
.input_form {
    font-size: normal;

    margin: 4px;
}
.input_progress {
    margin: 4px;
}
.input_subject {
    background-color: #e0e0e0;
    width: 100%;
}
.input_prg {
    display: flex;
    flex-wrap: nowrap;
}
.updown {
    display: flex;
    flex-wrap: nowrap;
}
.input_work {
    width: 20em;
    height: 1em;
    background-color: #d0d0d0;
}

.input_date {
    height: 1em;
}

input {
    font-size: large;
}

.button {
    font-size: large;
    margin-left: 1em;
    margin-right: 1em;
    background-image:
    repeating-linear-gradient(to right, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 5px, hsla(0,0%,100%, .1) 7px),
    repeating-linear-gradient(to right, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0) 3px, hsla(0,0%,  0%,.03) 4px),
    repeating-linear-gradient(to right, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1px, hsla(0,0%,100%,.15) 2px),
       linear-gradient(350deg, hsl(0,0%,78%)  0%, 
       hsl(0,0%,90%) 37%, 
       hsl(0,0%,78%) 76%,
       hsl(0,0%,70%) 100%);
}


